<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><strong>< /Gt ></strong></a><br>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="habilidades">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
