<div class="container">
  <div class="card" style="width: 50rem;">
  <img src="https://nodd3r.com/media/blog/Portadas_blog_21.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">¿Por qué aprender git?</h5>
    <p class="card-text">Si estás comenzando a usar Git o te interesa aprender a usarlo, debes conocer las principales ventajas y ayudas que trae la implementación de un sistema de control de versiones. En este post, te daremos 6 razones para usar Git y así puedas comenzar a desarrollar y programar todos tus proyectos con este sistema.

      Comenzar a trabajar con un sistema de control de versiones distribuido como Git cambia la forma en la que tu equipo de desarrollo crea y gestiona sus proyectos. Y, si tu empresa confía en su software para ajustes de aplicaciones, la alteración de su flujo de trabajo de desarrollo afecta a todo el negocio de buena forma a partir de las características de Git.

      Por esta razón Git puede beneficiar cada aspecto de tu organización, desde el equipo de desarrollo hasta el equipo de marketing y todo lo demás ya que Git no solo sirve para el desarrollo ágil de software, sino también para los negocios ágiles. Así pues, en este post responderemos la pregunta de ¿para qué necesitamos git?
    </div>
  </div>
</div>
