<div class="container">
  <div class="card" style="width: 50rem;">
  <img src="https://lh4.googleusercontent.com/53CV5AEjb5kQoYrSjyybn8b07nA--ayTKdM-wUgagapPadrKZ3GbOen61qHxOxzzFRxItotfqshN6k8hsiUya15Xn37rRldEflZTTKLw-VAi14gt8NoBl-m_q3WlaTxBF6YbLU1lQmE4zFidzA" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">¿Qué es un componente en Angular?</h5>
    <p class="card-text">Un componente en Angular es un elemento que está compuesto por un archivo que será nuestro Template (app.component.html).Un archivo de lógica, la cual es la que pondremos en un archivo .ts (como por ejemplo app.component.ts).
    .Un archivo para el CSS, donde incluiremos los estilos.
    <p class="card-text">Un componente puede tener más archivos, depende de la necesidad de tu proyecto.
      Una aplicación en Angular esta compuesta por varios componentes.
      <p class="card-text">Desde el Angular CLI podemos generar un componente usando el siguiente comando:
        ng generate component < name > [options]
        Si usamos un IDE online como Stackblitz con solo dar clic derecho sobre la carpeta, nos aparecerán varias opciones, entre ellas component. Al seleccionarlo y colocar un nombre, se genera el componente.
        Te invito a pasarte por mi proyecto ngchallenges, donde pretendo recopilar todos los conceptos de Angular y colocaré algunos desafíos y podrás ampliar un poco la información sobre los componente
    </div>
  </div>
</div>

